{% extends "base_site.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block stylesheets %}
  {{ super() }}

  {{ dropzone.load_css() }}
  {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <br />
    <div class="row">
      <div class="col-lg-6 col-md-12 col-xs-12">
        <div class="x_panel", id="input_panel">
          <div class="x_title">
            <h2>Input</h2>
            <button type="submit" class="btn btn-success"
                    style="float: right;" onclick="submit()">Submit</button>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-xs-12">
              <div class="form-group">
                <!-- GENDER -->
                <div class="col-lg-6 col-md-6 col-sd-12">
                  <label style="font-size:{{ input_title_size }}px;"> {{ gender_title }} </label>
                  <p>
                    <form name="gender_form" id="gender">
                      {% for key, value in sex.items() %}
                        <input type="radio" class="flat" name="gender"
                               id={{"gender_{}".format(key)}} value={{value}}
                               {% if sample_sex == value %}
                                 checked=""
                               {% endif %}
                        >
                        <labl style="font-size:{{ value_name_size }}px;"> {{ key }} </labl>
                        <br>
                      {% endfor %}
                    </form>
                  </p>
                </div>

                <!-- AGE -->
                <div class="col-lg-6 col-md-6 col-sd-12">
                  <label style="font-size:{{ input_title_size }}px;"> {{ age_title }} </label>
                  <p>
                    <input class="knob" id="age" data-width="100" data-height="60"
                           data-angleOffset=-90 data-angleArc=180
                           data-fgColor="#34495E" data-rotation="clockwise"
                           data-min={{ min_age }} data-max={{ max_age }}
                           value={{ sample_age }}>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <!-- MGMT -->
                <div class="col-lg-12 col-md-12 col-sd-12">
                  <label style="font-size:{{ input_title_size }}px;"> {{ mgmt_title }} </label>
                  <p>
                    <form name="mgmt_form" id="mgmt">
                      {% for key, value in mgmt.items() %}
                        <input type="radio" class="flat" name="mgmt"
                               id={{"MGMT_{}".format(key)}} value={{value}}
                               {% if sample_mgmt == value %}
                                 checked=""
                               {% endif %}

                        >
                        <labl style="font-size:{{ value_name_size }}px;"> {{ key }}</labl>
                        <br>
                      {% endfor %}
                    </form>
                  </p>
                </div>

                <!-- IDH -->
                <div class="col-lg-12 col-md-12 col-sd-12">
                  <label style="font-size:{{ input_title_size }}px;"> {{ idh_title }} </label>
                  <p>
                    <form name="idh_form" id="idh">
                      {% for key, value in idh.items() %}
                        <input type="radio" class="flat" name="idh"
                               id={{"IDH_{}".format(key)}} value={{value}}
                               {% if sample_idh == value %}
                                 checked=""
                               {% endif %}
                        >
                        <labl style="font-size:{{ value_name_size }}px;"> {{ key }}</labl>
                        <br>
                      {% endfor %}
                    </form>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <!-- DURATION -->
                <div class="col-lg-4 col-md-6 col-sd-12">
                  <label style="font-size:{{ input_title_size }}px;"> {{ duration_title }} </label>
                  <p>
                    <input class="knob" id="duration" data-width="100" data-height="50"
                           data-angleOffset=-90 data-angleArc=180
                           data-fgColor="#34495E" data-rotation="clockwise"
                           data-min={{ min_duration }} data-max={{ max_duration }}
                           value={{ sample_duration }} >
                  </p>
                  <labl> {{ duration_explain }} </labl>
                </div>

                <!-- TDOSE -->
                <div class="col-lg-4 col-md-6 col-sd-12">
                  <label style="font-size:{{ input_title_size }}px;"> {{ tdose_title }} </label>
                  <p>
                    <input class="knob" id="tdose" data-width="100" data-height="120"
                           data-angleOffset=-90 data-angleArc=180
                           data-fgColor="#34495E" data-rotation="clockwise"
                           data-min={{ min_tdose }} data-max={{ max_tdose }}
                           value={{ sample_tdose }} >
                  </p>
                </div>

                <!-- TFX -->
                <div class="col-lg-4 col-md-6 col-sd-12">
                  <label style="font-size:{{ input_title_size }}px;"> {{ tfx_title }} </label>
                  <p>
                    <input class="knob" id="tfx" data-width="100" data-height="120"
                           data-angleOffset=-90 data-angleArc=180
                           data-fgColor="#34495E" data-rotation="clockwise"
                           data-min={{ min_tfx }} data-max={{ max_tfx }}
                           value={{ sample_tfx }} >
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-12" id="mri_images">
              {% for key, value in mri_images.items() %}
                <div class="col-md-55">
                  <div class="thumbnail">
                    <div class="image view view-first">
                      <img style="width: 100%; display: block;"
                          src={{ value }} alt="image" />
                    </div>
                    <div class="caption">
                      <p> {{ key }} </p>
                    </div>
                  </div>
                </div>
              {% endfor %}

              <div class="form-group">
                <div class="col-lg-12 col-md-12">
                  <p style="font-size:{{ input_title_size }}px;"> MRI Image </p>
                  {{ dropzone.create(action=url_for('home_blueprint.upload')) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>The Probability of Progressive Disease</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div id="{{ chart_id }}" style="width:{{ my_width }};height:{{ my_height }}px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- Chart.js -->
  <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/echarts/dist/echarts.min.js') }}"></script>
  <!-- jQuery Knob -->
  <script src="{{ url_for('static', filename='vendors/jquery-knob/dist/jquery.knob.min.js') }}"></script>
  <!-- gauge.js -->
  <script src="{{ url_for('static', filename='vendors/gauge.js/dist/gauge.min.js') }}"></script>
  <!-- DateJS -->
  <script src="{{ url_for('static', filename='vendors/DateJS/build/date.js') }}"></script>

  {{ dropzone.load_js() }}
  {{ dropzone.config(
     custom_init='this.on("maxfilesreached",
       function(file) {this.processQueue();});
       this.on("queuecomplete", function(file) {this.removeAllFiles(true);
                                                location.reload();});',
     custom_options='autoProcessQueue: false') }}

  <script>
    window.onload = function() {
      setTimeout(function() {
        var myChart_{{ chart_id }} = echarts.init(document.getElementById('{{ chart_id }}'),
            null, {renderer: '{{ renderer}}'});
        {{ custom_function }}
        var option_{{ chart_id }} = {{ options | safe }};
        myChart_{{ chart_id }}.setOption(option_{{ chart_id }});
        window.onresize = function() {
          myChart_{{ chart_id }}.resize();
        };
      }, 1000);
    };
  </script>
{% endblock javascripts %}
